.imagen-principal {
	width: 100%;
	height: auto;
}

.contenido-superpuesto {
	position: absolute;
	top: 85%;
	left: 35%;
	transform: translate(-50%, -50%);
	text-align: left;
	color: white;
}

.titulo {
	font-weight: 500;
	font-size: 3rem;
	margin-bottom: 10px;
	color: white;
}

.sinopsis {
	font-weight: normal;
	font-size: 2rem;
	line-height: 1.6;
	margin-bottom: 20px;
	color: white;
}

.boton {
	background: rgba(0, 0, 0, 0.5);
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.3s ease;
	margin-right: 20px;
}

.boton:hover {
	background: rgb(250, 247, 247);
	color: rgb(13, 1, 1);
}

.boton i {
	margin-right: 10px;
}