.contenedor {

    width: 90%;
   
}
.peliculas-recomendadas{
    margin-left: 40px;
    margin-right: 40px;
}

.contenedor-titulo-controles {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor-titulo-controles h3 {
    color: #FFF;
    font-size: 30px;
}

.indicadores button {
    background: #FFF;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.indicadores button:hover,
.indicadores button .activo {
    background: red;
}

.flecha-izq,
.flecha-dch {
    position: absolute;
    border: none;
    background: rgb(0, 0, 0, 0, 3);
    font-size: 40px;
    height: 50%;
    top: calc(50%-25%);
    line-height: 40px;
    width: 50px;
    color: #FFF;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.flecha-izq:hover,
.flecha-dch:hover {
    background: rgb(0, 0, 0, .9);
}

.flecha-izq {
    left: 0;
   
}

 .flecha-dch {
    right: 0;

}

.contenedor-pelis {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow: scroll;
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.contenedor-carrusel {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow: scroll;
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.contenedor-pelis img {

    width: 20%;
    padding: 10px;
    cursor: pointer;
    transform: scale(1);
    transition: opacity 0.3s ease;
    flex-shrink: 0;
    display: flex;

}

.peliculas-recomendadas img:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

.contenedor-carrusel {
    overflow-x: hidden;
    white-space: nowrap;
    flex-grow: 1;
    margin: 0 10px;
}

.flecha-izq,
.flecha-dch {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #000;
    outline: none;
}

.flecha-dch {
    right: 0;
}

.flecha-izq {
    left: 0;
}