.contenedor{
    background-color: blue;
    width: 90%;
    margin: auto;
}


.contenedor-titulo-controles {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.contenedor-titulo-controles h3 {
    color: #FFF;
    font-size: 30px;
}
.contenedor-titulo-controles .indicadores button {
    background: #FFF; 
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}
.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button .activo{
    background:red;
}

.peliculas-recomendadas .contenedor-pelis .flecha-izq,
.peliculas-recomendadas .contenedor-pelis .flecha-dch {
    position: absolute;
    border: none;
    background: rgb(0, 0, 0, 0, 3);
    font-size: 40px;
    height: 50%;
    top:calc(50%-25%);
    line-height:40px;
    width: 50px;
    color: #FFF;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}
.peliculas-recomendadas .contenedor-pelis.flecha-izq:hover,
.peliculas-recomendadas .contenedor-pelis.flecha-dch:hover {
    background: rgb(0, 0, 0, .9);
} 
.peliculas-recomendadas .contenedor-pelis .flecha-izq{
    left: 0;
}
.peliculas-recomendadas .contenedor-pelis .flecha-dch{
    right: 0;

}

/*-------imagen ----*/
.peliculas-recomendadas .contenedor-pelis {
    background-color: red;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow-x: ;
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}
.peliculas-recomendadas .contenedor-pelis img {
   
    width: 20%;
    padding: 10px;
    cursor: pointer;
    transform: scale(1);
    transition: opacity 0.3s ease;
    flex-shrink: 0;
    display: flex;

}
}
.peliculas-recomendadas img:hover {
    opacity: 0.5;
    transform: scale(1.1);
}
